@model ViewModel.MasterViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



@section HeaderIncludes
{
    <script src="~/Scripts/Services/EmployeeSalaryService.js"></script>
    <script src="~/Scripts/Services/SalaryService.js"></script>
    <script src="~/Scripts/Services/MonthService.js"></script>
    <script src="~/Scripts/Controllers/MonthController.js"></script>
    <script src="~/Scripts/Controllers/SalaryController.js"></script>

}

<div id="monthListView" class="listView">
    <div class="container">
        <div class="middlewrap">
            <h3 class="title">
               <span>Salary</span>
            </h3>

            <table id="monthGrid"
                   data-ui-binding="true"
                   data-entity-key="MonthID"
                   data-service-object="monthService"
                   data-default-orderby="MonthID descending"
                   class="table table-condensed table-hover"
                   data-page-size="10">

                <tr>
                    <td colspan="4">
                        <div class="form-group m-0">
                            <select id="yearFilter" data-filter-list="monthGrid" data-filter-field="Year">
                                <option value="">Select Year</option>
                                @foreach (var year in Model.Years)
                                {
                                    <option>@year</option>
                                }
                            </select>

                        </div>
                    </td>
                </tr>
                <tr>
                    <th><a href="#" data-sort-field="Month1">Month</a></th>
                    <th><a href="#" data-sort-field="Year">Year</a></th>
                    <th></th>
                    <th></th>
                    <th></th>
                    <th></th>
                </tr>
                <tbody ng-repeat="r in rows" class="background-grey">
                    <tr ng-class="{'background-green':r.Month=='@(ViewBag.Month)' && r.Year=='@(ViewBag.Year)',
                        'background-yellow':r.Month=='@(ViewBag.PreviousMonth)' && r.Year=='@(ViewBag.PreviousYear)' 
                        && ('@(ViewBag.CurrentDay)' ==1 || '@(ViewBag.CurrentDay)' ==2 ||'@(ViewBag.CurrentDay)' ==3 
                        ||'@(ViewBag.CurrentDay)' ==4 ||'@(ViewBag.CurrentDay)' ==5)}">
                        <td class="col-md-1"> <span>{{r.Month}}</span></td>
                        <td class="col-md-1"> <span>{{r.Year}}</span></td>
                        <td class="col-md-1">
                            <a href="/EmployeeSalary?monthID={{r.MonthID}}">Employees Salary</a>
                        </td>
                        <td class="col-md-1">
                            <a href="" ng-class="{'not-active':r.ButtonDisable}" ng-click="ub.GenerateandDownloadCSV(r.MonthID)" id="lnkGenerateCSV">
                                <img src="~/Content/images/csv-export-icon.png" alt="Generate CSV" title="Generate CSV" width="30" id="imgGenerateCSV" />
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a href="" ng-class="{'not-active':r.ButtonDisable}" ng-click="ub.DownloadAllPDF(r.MonthID)">
                                <img src="~/Content/images/pdf-download-icon.png" alt="Download PDF" title="Download PDF" width="30" />
                            </a>
                        </td>
                        <td class="col-md-1">
                            <a href="" ng-class="{'not-active':r.ButtonDisable}" ng-click="ub.SendAllEmail(r.MonthID)">
                                <img src="~/Content/images/send-email-icon.png" alt="Send Email" title="Send Email" width="30" />
                            </a>
                        </td>
                    </tr>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="9" align="center">
                            <div id="monthPagination">
                                <span>{{pageText}}</span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()"><span><<</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()"><span><</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()"><span>></span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()"><span>>></span></button>
                                @*@Html.Partial("~/Views/Controls/PaginationControl.cshtml")*@
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
        </div>
    </div>
</div>
