@model ViewModel.MasterViewModel
@using Model

<div id="EmployeeStatusHistoryListView" class="listView">
    
    <h3 class="title"> <span>@ViewBag.FullName's Status</span> </h3>  
    <select id="employeeStatusFilter" data-filter-list="employeeStatusHistoryGrid" style="display:none" data-filter-field="EmployeeID">
        <option value="@ViewBag.EmployeeID">@ViewBag.EmployeeID</option>
    </select>

    <table id="employeeStatusHistoryGrid"
           data-ui-binding="true"
           data-entity-key="EmployeeStatusID"
           data-service-object="employeeStatusHistoryService"
           data-default-orderby="EmployeeStatusID"
           class="table table-condensed table-hover"
           data-page-size="10">
        <thead>
            <tr><td>
                    <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#StatusDialog" ng-click="ub.LoadForm('employeeStatusHistoryDetailsForm',rows[0].EmployeeID, false,null)">
                        Change Status
                    </button>
                    <button type="button" id="btnCancel" class="btn btn-primary btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Employee") + "'");">Back</button>
                </td></tr>
        </thead>
        <tr>
            <th><a href="#" data-sort-field="EmployeeStatus">Employee Status</a></th>
            <th><a href="#" data-sort-field="StartDate">Start Date</a></th>
            <th><a href="#" data-sort-field="EndDate">End Date</a></th>
            <th><a href="#" data-sort-field="StatusNote">Status Note</a></th>
            <th class="text-center">Edit</th>
        </tr>
        <tbody ng-repeat="r in rows">
            <tr alt=$index%2>
                <td class="col-md-1"> <span>{{r.EmployeeStatus.Status}}</span></td>
                <td class="col-md-1"> <span>{{r.StartDate | date:'dd/MM/yyyy'}}</span></td>
                <td class="col-md-1"> <span>{{r.EndDate | date:'dd/MM/yyyy'}}</span></td>
                <td class="col-md-1"> <span>{{r.StatusNote}}</span></td>
                <td class="col-md-1 text-center">
                    <a href='javascript:;' ng-click="ub.LoadForm('EmployeeStatusHistoryForm',r.EmployeeStatusID , true, null)">
                        <img src="~/Content/images/edit.png" alt="Edit" title="Edit" width="20" />
                    </a>
                </td>
            </tr>
        </tbody>
        <tfoot>
            <tr>
                <td colspan="4" align="center">
                    <div id="EmployeeStatusPagination">
                        <span>{{pageText}}</span>&nbsp;&nbsp;
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()" ng-disabled="TotalRows <= pageSize || pageIndex==0"><span><<</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()" ng-disabled="TotalRows <= pageSize || pageIndex==0"><span><</span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()" ng-disabled="TotalRows <= pageSize || totalPages==pageIndex+1"><span>></span></button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()" ng-disabled="TotalRows <= pageSize || totalPages==pageIndex+1"><span>>></span></button>  
                    </div>
                </td>
            </tr>
        </tfoot>
    </table>
</div>

