
@model ViewModel.MasterViewModel
@using Model



<div class="listView" id="taxComputationListView">
    <div class="middlewrap">



        <div class="table-responsive tbl-scroll">
            <h3 class="title"> <span>Tax Computation for @ViewBag.Name</span> </h3>
            <table class="table table-condensed table-hover"
                   id="taxComputationGrid"
                   data-ui-binding="true"
                   data-entity-key="TaxComputationID"
                   data-service-object="taxComputationService"
                   data-default-orderby="Year"
                   cellspacing="0" cellpadding="0" border="0"
                   data-page-size="10">
                <thead class="tblaction">
                    <tr>
                        <td colspan="6">
                            <table class="col-md-5">
                                <tr>
                                    <td class="col-md-3">
                                        <select id="yearFilter" data-filter-list="taxComputationGrid" data-filter-field="Year" class="form-control">
                                            <option value="">Select Financial Year</option>
                                            @foreach (var year in Model.Years)
                                            {
                                                <option value="@year">@year - @(year + 1)</option>
                                            }
                                        </select>
                                    </td>
                                    <td class="col-md-2">
                                        <button type="button" ng-click="ub.NewTaxComputationForm('taxComputationDetailsForm', true, '')" class="btn btn-primary">Add New</button>
                                        <button type="button" id="btnBack" class="btn btn-primary" onclick="@("window.location.href='" + @Url.Action("Index", "Employee") + "'");">Back</button>
                                    </td>
                                </tr>
                            </table>
                            <div class="form-group m-0">

                                &nbsp;
                                <select id="statusFilter" data-filter-list="taxComputationGrid" data-filter-field="EmployeeID" style="display:none">
                                    <option value="@ViewBag.EmployeeID">@ViewBag.EmployeeID</option>
                                </select>
                                &nbsp;

                                &nbsp;

                            </div>
                        </td>
                    </tr>
                </thead>

                <thead>
                    <tr>

                        <th class="text-left">Financial Year</th>
                        <th class="text-left">Total Taxable Income</th>
                        <th class="text-left">Total Tax Payable</th>
                        <th class="text-left">Refund</th>
                        <th class="text-left">Tax Paid</th>
                        <th class="text-center">Edit</th>
                        <th class="text-center">Delete</th>
                    </tr>
                </thead>
                <tbody>

                    <tr alt=$index%2 ng-repeat="r in rows">

                        <td class="text-left">{{r.Year}} - {{r.Year+1}}</td>
                        <td class="text-left">{{r.TotalTaxableIncome}}</td>
                        <td class="text-left">{{r.TotalTaxPayable}}</td>
                        <td class="text-left">{{r.Refund}}</td>
                        <td class="text-left">{{r.TaxPaid}}</td>
                        <td class="text-center">
                            <a href='javascript:;' ng-click="ub.loadTaxComputationForm('taxComputationDetailsForm',  r.TaxComputationID , true)">
                                <img src="~/Content/images/edit.png" alt="Edit" title="Edit" width="20" />
                            </a>
                        </td>
                        <td class="text-center">
                            <a href='javascript:;' ng-click="lb.Delete(r.TaxComputationID, 'Are you sure you want to delete this Tax Computation?' , ub.taxComputationDeleteCallback)">
                                <img src="~/Content/images/delete.png" alt="Delete" title="Delete" width="20" />
                            </a>
                        </td>
                </tbody>
                <tfoot>
                    <tr>
                        <td colspan="7" align="center">
                            <div id="monthPagination">
                                <span>{{pageText}}</span>&nbsp;&nbsp;
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageFirst()" ng-disabled="TotalRows <= pageSize || pageIndex==0"><span><<</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PagePrevious()" ng-disabled="TotalRows <= pageSize || pageIndex==0"><span><</span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageNext()" ng-disabled="TotalRows <= pageSize || totalPages==pageIndex+1"><span>></span></button>
                                <button type="button" class="btn btn-primary btn-sm" ng-click="lb.PageLast()" ng-disabled="TotalRows <= pageSize || totalPages==pageIndex+1"><span>>></span></button>
                            </div>
                        </td>
                    </tr>
                </tfoot>
            </table>
            <input type="hidden" id="hdnEmployeeID" value="@ViewBag.EmployeeID" />
        </div>

    </div>
</div>
