

@model ViewModel.MasterViewModel
@using Model
@using HRMS


<div class="middlewrap">
    <div class="row detailsWindow" id="taxComputationDetailsWindow">
        <form id="taxComputationDetailsForm"
              name="taxComputationDetailsForm"
              data-ui-binding="true"
              data-service-object="taxComputationService"
              data-associated-list="taxComputationGrid"
              method="get" class="col-xs-12 col-sm-12" action="" role="form">

            <div ng-show="model.TaxComputationID != 0">
                <h3>Edit Tax Computation</h3>
            </div>
            <h3 ng-show="model.TaxComputationID == 0">Create New Tax Computation</h3>
            <div id="taxComputationrrorDisplay" class="taxComputationrrorDisplay" data-error-display="true"></div>

            <div class="row form-horizontal">
                <div class="col-md-5 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-4 control-label text-left" for="em_Year">Financial Year <i class="lblRequired">*</i> :</label>
                        <div class="col-md-4">
                            <select id="em_Year" name="em_Year" class="required form-control auto-width" ng-model="model.Year" value="{{model.Year}}">
                                <option value="">Select Financial Year</option>
                                @foreach (var year in Model.Years)
                                {
                                    <option value="@year">@year - @(year + 1)</option>
                                }
                            </select>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label class="col-md-5 control-label text-right" for="em_EPF">EPF:</label>
                        <div class="col-md-7">
                            <input type="text" name="em_EPF" id="em_EPF" ng-model="model.EPF" class="form-control number auto-width" maxlength="4" />
                        </div>
                    </div>
                </div>

            </div>


            <p class="midtitle">Employee Details</p>
            <div class="row">
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Employee Code:</label>
                        <label>@ViewBag.EmployeeCode</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Employee Name:</label>
                        <label>@ViewBag.Name</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>Date of Joining:</label>
                        <label>@ViewBag.DOJ</label>
                    </div>
                </div>
                <div class="col-md-3 col-sm-6 col-xs-12">
                    <div class="form-group">
                        <label>EmployeeID:</label>
                        <label ng-bind="model.EmployeeID"></label>
                    </div>
                </div>
            </div>

            @*<p class="midtitle">Salary Information</p>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Basic3mAprilToJune">Basic-3m, April To June</label>
                            <input type="text" name="em_Basic3mAprilToJune" id="em_Basic3mAprilToJune" ng-model="model.Basic3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_BasicFromApril">Basic-From April</label>
                            <input type="text" name="em_BasicFromApril" id="em_BasicFromApril" ng-model="model.BasicFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_BasicFromJuly">Basic-FromJuly</label>
                            <input type="text" name="em_BasicFromJuly" id="em_BasicFromJuly" ng-model="model.BasicFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Basic9mJulyToMarch">Basic-9m, July To March</label>
                            <input type="text" name="em_Basic9mJulyToMarch" id="em_Basic9mJulyToMarch" ng-model="model.Basic9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Basic12Month">Basic-12 Month</label>
                            <input type="text" name="em_Basic12Month" id="em_Basic12Month" ng-model="model.Basic12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_HRA3mAprilToJune">HRA-3m, April To June</label>
                            <input type="text" name="em_HRA3mAprilToJune" id="em_HRA3mAprilToJune" ng-model="model.HRA3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_HRAFromApril">HRA-From April</label>
                            <input type="text" name="em_HRAFromApril" id="em_HRAFromApril" ng-model="model.HRAFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_HRAFromJuly">HRA-FromJuly</label>
                            <input type="text" name="em_HRAFromJuly" id="em_HRAFromJuly" ng-model="model.HRAFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_HRA9mJulyToMarch">HRA-9m, July To March</label>
                            <input type="text" name="em_HRA9mJulyToMarch" id="em_HRA9mJulyToMarch" ng-model="model.HRA9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_HRA12Month">HRA-12 Month</label>
                            <input type="text" name="em_HRA12Month" id="em_HRA12Month" ng-model="model.HRA12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row min-ht-lbl">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_ConveyanceAllowance3mAprilToJune">Conveyance Allowance-3m, April To June</label>
                            <input type="text" name="em_ConveyanceAllowance3mAprilToJune" id="em_ConveyanceAllowance3mAprilToJune" ng-model="model.ConveyanceAllowance3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_ConveyanceAllowanceFromApril">Conveyance Allowance-From April</label>
                            <input type="text" name="em_ConveyanceAllowanceFromApril" id="em_ConveyanceAllowanceFromApril" ng-model="model.ConveyanceAllowanceFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_ConveyanceAllowanceFromJuly">Conveyance Allowance-FromJuly</label>
                            <input type="text" name="em_ConveyanceAllowanceFromJuly" id="em_ConveyanceAllowanceFromJuly" ng-model="model.ConveyanceAllowanceFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_ConveyanceAllowance9mJulyToMarch">Conveyance Allowance-9m, July To March</label>
                            <input type="text" name="em_ConveyanceAllowance9mJulyToMarch" id="em_ConveyanceAllowance9mJulyToMarch" ng-model="model.ConveyanceAllowance9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_ConveyanceAllowance12Month">Conveyance Allowance-12 Month</label>
                            <input type="text" name="em_ConveyanceAllowance12Month" id="em_ConveyanceAllowance12Month" ng-model="model.ConveyanceAllowance12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row min-ht-lbl">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_OtherAllowance3mAprilToJune">Other Allowance-3m, April To June</label>
                            <input type="text" name="em_OtherAllowance3mAprilToJune" id="em_OtherAllowance3mAprilToJune" ng-model="model.OtherAllowance3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_OtherAllowanceFromApril">Other Allowance<br />- From April</label>
                            <input type="text" name="em_OtherAllowanceFromApril" id="em_OtherAllowanceFromApril" ng-model="model.OtherAllowanceFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_OtherAllowanceFromJuly">Other Allowance<br />- FromJuly</label>
                            <input type="text" name="em_OtherAllowanceFromJuly" id="em_OtherAllowanceFromJuly" ng-model="model.OtherAllowanceFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_OtherAllowance9mJulyToMarch">Other Allowance-9m, July To March</label>
                            <input type="text" name="em_OtherAllowance9mJulyToMarch" id="em_OtherAllowance9mJulyToMarch" ng-model="model.OtherAllowance9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_OtherAllowance12Month">Other Allowance-12 Month</label>
                            <input type="text" name="em_OtherAllowance12Month" id="em_OtherAllowance12Month" ng-model="model.OtherAllowance12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row min-ht-lbl">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_MedicalReimbursement3mAprilToJune">Medical re-imbursement-3m, April To June</label>
                            <input type="text" name="em_MedicalReimbursement3mAprilToJune" id="em_MedicalReimbursement3mAprilToJune" ng-model="model.MedicalReimbursement3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_MedicalReimbursementFromApril">Medical re-imbursement-From April</label>
                            <input type="text" name="em_MedicalReimbursementFromApril" id="em_MedicalReimbursementFromApril" ng-model="model.MedicalReimbursementFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_MedicalReimbursementFromJuly">Medical re-imbursement-FromJuly</label>
                            <input type="text" name="em_MedicalReimbursementFromJuly" id="em_MedicalReimbursementFromJuly" ng-model="model.MedicalReimbursementFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_MedicalReimbursement9mFromJulyToMarch">Medical re-imbursement-9m, July To March</label>
                            <input type="text" name="em_MedicalReimbursement9mFromJulyToMarch" id="em_MedicalReimbursement9mFromJulyToMarch" ng-model="model.MedicalReimbursement9mFromJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_MedicalReimbursement12Month">Medical re-imbursement-12 Month</label>
                            <input type="text" name="em_MedicalReimbursement12Month" id="em_MedicalReimbursement12Month" ng-model="model.MedicalReimbursement12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Incentive3mAprilToJune">Incentive-3m, April To June</label>
                            <input type="text" name="em_Incentive3mAprilToJune" id="em_Incentive3mAprilToJune" ng-model="model.Incentive3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_IncentiveFromAprill">Incentive-From April</label>
                            <input type="text" name="em_IncentiveFromAprill" id="em_IncentiveFromAprill" ng-model="model.IncentiveFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_IncentiveFromJuly">Incentive-FromJuly</label>
                            <input type="text" name="em_IncentiveFromJuly" id="em_IncentiveFromJuly" ng-model="model.IncentiveFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Incentive9mJulyToMarch">Incentive-9m, July To March</label>
                            <input type="text" name="em_Incentive9mJulyToMarch" id="em_Incentive9mJulyToMarch" ng-model="model.Incentive9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Incentive12Month">Incentive-12 Month</label>
                            <input type="text" name="em_Incentive12Month" id="em_Incentive12Month" ng-model="model.Incentive12Month" class="form-control number" />
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Total3mAprilToJune">Total-3m, April To June</label>
                            <input type="text" name="em_Total3mAprilToJune" id="em_Total3mAprilToJune" ng-model="model.Total3mAprilToJune" class="form-control number" maxlength="10" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_TotalFromApril">Total-From April</label>
                            <input type="text" name="em_TotalFromApril" id="em_TotalFromApril" ng-model="model.TotalFromApril" class="form-control number" maxlength="10" />

                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_TotalFromJuly">Total-FromJuly</label>
                            <input type="text" name="em_TotalFromJuly" id="em_TotalFromJuly" ng-model="model.TotalFromJuly" class="form-control number" maxlength="10" />
                        </div>
                    </div>

                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Total9mJulyToMarch">Total-9m, July To March</label>
                            <input type="text" name="em_Total9mJulyToMarch" id="em_Total9mJulyToMarch" ng-model="model.Total9mJulyToMarch" class="form-control number" />
                        </div>
                    </div>
                    <div class="col-md-2 col-sm-6 col-xs-12">
                        <div class="form-group">
                            <label for="em_Total12Month">Total-12 Month</label>
                            <input type="text" name="em_Total12Month" id="em_Total12Month" ng-model="model.Total12Month" class="form-control number" />
                        </div>
                    </div>
                </div>*@

            <div class="row form-horizontal">
                <div class="col-md-6 col-sm-6">
                    <p class="midtitle">Deductions</p>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessConveyanceAllowancesAllowed">Less:- Conveyance Allowances Allowed <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessConveyanceAllowancesAllowed" id="em_LessConveyanceAllowancesAllowed" ng-model="model.LessConveyanceAllowancesAllowed" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessHRA3Months">Less:-HRA 3 Months <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessHRA3Months" id="em_LessHRA3Months" ng-model="model.LessHRA3Months" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head">Least of the following is allowed</h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_FourtyPercentOfBasicAprilToJune">a) 40% of basic salary <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_FourtyPercentOfBasicAprilToJune" id="em_FourtyPercentOfBasicAprilToJune" ng-model="model.FourtyPercentOfBasicAprilToJune" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_ActualHRAReceivedAprilToJune">b) Actual HRA Received <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_ActualHRAReceivedAprilToJune" id="em_ActualHRAReceivedAprilToJune" ng-model="model.ActualHRAReceivedAprilToJune" class="form-control number required " maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_RentPaidAprilToJune">c) Rent paid-10% of Basic Salary <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_RentPaidAprilToJune" id="em_RentPaidAprilToJune" ng-model="model.RentPaidAprilToJune" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head"></h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessHRA9Months">Less:-HRA 9 Months <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessHRA9Months" id="em_LessHRA9Months" ng-model="model.LessHRA9Months" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head">Least of the following is allowed</h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_FourtyPercentOfBasicFromJuly">a) 40% of basic salary <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_FourtyPercentOfBasicFromJuly" id="em_FourtyPercentOfBasicFromJuly" ng-model="model.FourtyPercentOfBasicFromJuly" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_ActualHRAReceivedFromJuly">b) Actual HRA Received <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_ActualHRAReceivedFromJuly" id="em_ActualHRAReceivedFromJuly" ng-model="model.ActualHRAReceivedFromJuly" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_RentPaidAprilFromJuly">c) Rent paid-10% of Basic Salary <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_RentPaidAprilFromJuly" id="em_RentPaidAprilFromJuly" ng-model="model.RentPaidAprilFromJuly" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head"></h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessDeduction80C">Less:-Deduction u/s 80C <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessDeduction80C" id="em_LessDeduction80C" ng-model="model.LessDeduction80C" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_EmployeeContributionToPF">Employee Contribution to PF <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_EmployeeContributionToPF" id="em_EmployeeContributionToPF" ng-model="model.EmployeeContributionToPF" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_PPF">PPF <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_PPF" id="em_PPF" ng-model="model.PPF" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_MutualFundOrUTI">Mutual fund or UTI <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_MutualFundOrUTI" id="em_MutualFundOrUTI" ng-model="model.MutualFundOrUTI" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_InsurancePremium">Insurance Premium <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_InsurancePremium" id="em_InsurancePremium" ng-model="model.InsurancePremium" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head">Less :- Dedution u/s 80D</h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessDedution80DDeclared">Declared <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessDedution80DDeclared" id="em_LessDedution80DDeclared" ng-model="model.LessDedution80DDeclared" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessDedution80DAllowed">Allowed <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessDedution80DAllowed" id="em_LessDedution80DAllowed" ng-model="model.LessDedution80DAllowed" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head"></h5>
                    <h5 class="sub-head">Less: Medical Reimbursement Allowance</h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessMedicalReimbursementAllowanceDeclared">Declared <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessMedicalReimbursementAllowanceDeclared" id="em_LessMedicalReimbursementAllowanceDeclared" ng-model="model.LessMedicalReimbursementAllowanceDeclared" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessMedicalReimbursementAllowanceAllowed">Allowed <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessMedicalReimbursementAllowanceAllowed" id="em_LessMedicalReimbursementAllowanceAllowed" ng-model="model.LessMedicalReimbursementAllowanceAllowed" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <h5 class="sub-head"></h5>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessProfessionalTax">Less: Professional Tax <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessProfessionalTax" id="em_LessProfessionalTax" ng-model="model.LessProfessionalTax" class="form-control number required" maxlength="10" /></div>
                    </div>
                </div>
                <div class="col-md-6 col-sm-6">
                    <p class="midtitle">Total Tax Calculation</p>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TotalTaxableIncome">Total Taxable Income <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TotalTaxableIncome" id="em_TotalTaxableIncome" ng-model="model.TotalTaxableIncome" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TaxDue">Tax Due <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TaxDue" id="em_TaxDue" ng-model="model.TaxDue" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_LessAdd87A">Less Add. U/S 87A <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_LessAdd87A" id="em_LessAdd87A" ng-model="model.LessAdd87A" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TaxDueAfter87A">Tax due after  U/S 87A <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TaxDueAfter87A" id="em_TaxDueAfter87A" ng-model="model.TaxDueAfter87A" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_EducationCess">Education cess <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_EducationCess" id="em_EducationCess" ng-model="model.EducationCess" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TotalTaxPayable">Total Tax Payable <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TotalTaxPayable" id="em_TotalTaxPayable" ng-model="model.TotalTaxPayable" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label text-right" for="em_TaxTillFebuary">Tax Till <i class="lblRequired">*</i></label>
                        <div class="col-md-5">
                            <select id="em_TaxTillMonth" name="em_TaxTillMonth" class="form-control required" ng-model="model.TaxTillMonth" value="{{model.TaxTillMonth}}">
                                <option value="">Select Tax Till Month</option>
                                <option value="January">January</option>
                                <option value="February">February</option>
                                <option value="March">March</option>
                                <option value="April">April</option>
                                <option value="May">May</option>
                                <option value="June">June</option>
                                <option value="July">July</option>
                                <option value="August">August</option>
                                <option value="September">September</option>
                                <option value="October">October</option>
                                <option value="November">November</option>
                                <option value="December">December</option>
                            </select>
                        </div>




                        <div class="col-md-3"><input type="text" name="em_TaxTillFebuary" id="em_TaxTillFebuary" ng-model="model.TaxTillFebuary" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_BalanceTaxPayableAfterFebuary">BALANCE TAX PAYABLE <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_BalanceTaxPayableAfterFebuary" id="em_BalanceTaxPayableAfterFebuary" ng-model="model.BalanceTaxPayableAfterFebuary" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TaxForMarch">Tax for remaining months <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TaxForMarch" id="em_TaxForMarch" ng-model="model.TaxForMarch" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_Refund">Refund <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_Refund" id="em_Refund" ng-model="model.Refund" class="form-control number required" maxlength="10" /></div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-6 control-label text-right" for="em_TaxPaid">TAX PAID <i class="lblRequired">*</i></label>
                        <div class="col-md-6"><input type="text" name="em_TaxPaid" id="em_TaxPaid" ng-model="model.TaxPaid" class="form-control number required" maxlength="10" /></div>
                    </div>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div class="form-group">
                        <button type="submit" class="btn btn-primary btn-sm" ng-disabled="taxComputationDetailsForm.$invalid">Save</button>
                        <button type="button" class="btn btn-primary btn-sm" ng-click="ub.ResetForm()">Cancel</button>
                    </div>
                </div>
            </div>

        </form>

    </div>
</div>

