<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    @Styles.Render("~/Content/css")


    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="container bodywrap">
        <header>
            <div class="headerwrap">
                <div class="navbar navbar_ clearfix">
                    <div class="navbar-inner">
                        <div class="clearfix">
                            <!-- Logo -->
                            <h1 class="brand"><a href="/Home/Index"><img src="~/Content/images/logo.png"></a></h1>
                            <div style="float:left; margin-left:20px;margin-top: 5px;"><h2> Alept Consulting Private Limited </h2></div>
                            <!-- Search Field -->
                            <!-- Naviation -->
                            <div class="nav-collapse nav-collapse_ collapse">
                                <ul class="nav sf-menu clearfix">
                                    <li @(ViewBag.ActiveTab == "HOME" ? "class=active" : "")><a href="/Home/Index">Home</a></li>
                                    @if (User.IsInRole("Admin"))
                                    {
                                        <li @(ViewBag.ActiveTab == "ADMIN" ? "class=active" : "")>
                                            <a href="#">Admin</a>
                                            <ul class="sub-menu">
                                                <li><a href="/Employee/Index">Employees</a></li>
                                                <li><a href="/DocumentType/Index">Document Type</a></li>
                                                <li><a href="/EmployeeStatus/Index">Status Type</a></li>
                                            </ul>
                                        </li>
                                    }
                                   @if (User.IsInRole("Accountant"))
                                   {
                                    <li  @(ViewBag.ActiveTab == "ACCOUNT" ? "class=active" : "")>
                                        <a href="#">Account</a>
                                        <ul class="sub-menu">
                                            <li><a href="/Month/Index">Set Salary</a></li>

                                        </ul>
                                    </li>
                                   }
                                    <li><a href="/Account/Login">Logout</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>             
        </header>
        @*<div class="container banner"> <img src="~/Content/images/jobopenings.png"> </div>*@
        <div style="width: 1170px;margin: 0 auto;">
            <div class="loggedinUser">
                <img class="user-img" src="~/Content/images/noimg.jpg" alt="personimg"><label class="loggerInUser-lbl"> @(((Model.AspNetUser)(Session["UserDetails"])).UserName) </label>               
            </div>
        </div>
        <div class="container content">
            @RenderBody()
        </div>
    </div>
    <footer id="footer">
        <div class="container"> Copyright 2017. All Rights Reserved. </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->

    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
    


    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>

    @Scripts.Render("~/bundles/alept")

    @Scripts.Render("~/bundles/affirma")

    @RenderSection("HeaderIncludes", required: false)
    @RenderSection("scripts", required: false)

</body>
</html>



