@using HRMS.Controllers
@model EmployeeRoles
@{
    ViewBag.Title = "Manage Roles";
    ViewBag.ActiveTab = "ADMIN";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@section HeaderIncludes
{
    <script type="text/javascript">

        function addRoles() {
            var arrRoles = new Array();
            arrRoles = $('#lstRoles').val();
            if (arrRoles != null && arrRoles.length > 0) {
                for (var i = 0; i < arrRoles.length; i++) {
                    if ($("#lstExistingRoles option[value=" + arrRoles[i] + "]").length == 0) {
                        $('#lstExistingRoles').append('<option value=' + arrRoles[i] + '>' + arrRoles[i] + '</option>');
                    }
                }
                $("#lstRoles option:selected").remove();
            }
        }

        function removeRoles() {
            var arrExisitngRoles = new Array();
            arrExisitngRoles = $('#lstExistingRoles').val();
            if (arrExisitngRoles != null && arrExisitngRoles.length > 0) {
                for (var i = 0; i < arrExisitngRoles.length; i++) {
                    if ($("#lstRoles option[value=" + arrExisitngRoles[i] + "]").length == 0) {
                        $('#lstRoles').append('<option value=' + arrExisitngRoles[i] + '>' + arrExisitngRoles[i] + '</option>');
                    }
                }
                $("#lstExistingRoles option:selected").remove();
            }
        }
        $(document).ready(function () {

            $("#lstRoles").val([]);
            $("#lstExistingRoles").val([]);

            $("#btnSave").on("click", function () {
                var assignedRoles = $('#lstExistingRoles option');
                var employeeID = $('#employeeID').val();
                if (assignedRoles != null && assignedRoles.length > 0 && employeeID != null) {
                    var strRoles = "";
                    for (var i = 0; i < assignedRoles.length; i++) {
                        if (i == assignedRoles.length - 1) {
                            strRoles = strRoles + assignedRoles[i].text;
                        }
                        else {
                            strRoles = strRoles + assignedRoles[i].text + ',';
                        }
                    }
                    $.ajax({
                        url: '/ManageRoles/SaveRoles/?strRoles=' + strRoles + "&employeeID=" + employeeID,
                        type: "POST",
                        beforeSend: function () {
                        },
                        success: function (data, status, jqXHR) {
                            debugger;
                            toastr.success(data);
                        },
                        error: function (jqXHR, status, err) {

                        }
                    });
                }
                else {
                    toastr.error("Assign atleast one role.")
                }
            });
        });

    </script>
}
<div class="container">
    <div class="middlewrap">
        <h3 class="title"> <span>Manage Roles for @Model.Name</span> </h3>  
        <div class="row mt-md">
            <div class="col-md-3">@Html.ListBoxFor(m => m.lstRoles, new MultiSelectList(Model.lstRoles, "", ""), new { Multiple = "multiple", @style = "min-width:100%;" })</div>
            <div class="col-md-2 text-center">
                <button type="button" class="btn mt-md" onclick="addRoles()">></button>
                <button type="button" class="btn mt-md" onclick="removeRoles()"><</button>
            </div>
            <div class="col-md-3">
                @Html.ListBoxFor(m => m.lstExistingRoles, new MultiSelectList(Model.lstExistingRoles, "", ""), new { Multiple = "multiple", @style = "min-width:100%;" })
            </div>
        </div>
        <div class="row mt-md">
            <div class="col-md-12">
                <button type="button" id="btnSave" class="btn btn-primary btn-sm">Save</button>
                <button type="button" id="btnCancel" class="btn btn-primary btn-sm" onclick="@("window.location.href='" + @Url.Action("Index", "Employee") + "'");">Back</button>
            </div>
        </div>
        <input id="employeeID" type="hidden" value="@ViewBag.EmployeeID" />
    </div>
</div>


