@model WebTest.Models.ResetPasswordViewModel
@{
    ViewBag.Title = "Reset Password";
    Layout = null;
}
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>@ViewBag.Title</title>
    <script src="~/Scripts/jquery-1.10.2.js"></script>
    <script src="~/Scripts/jquery.validate.js"></script>
    <script src="~/Scripts/jquery.form.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800" rel="stylesheet">
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap/css/style.css" rel="stylesheet" />
</head>
<body>
    @using (Html.BeginForm("ResetPassword", "Account", FormMethod.Post, new { @class = "form-horizontal", role = "form", id= "frmReset" }))
    {
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.Code)       
        <div class="loginwrap row">
            <div style="color:red">
                @Html.ValidationMessage("CustomError")
            </div>
            <div class="col-sm-5 loginimg">
                <div class="text-center logimg"><img src="~/Content/images/loginimg2.jpg"></div>
            </div>
            <div class="col-sm-7">
                <div class="loginfrm">
                    <h2><img src="~/Content/images/logo.png">&nbsp;&nbsp;@ViewBag.Title</h2> 
                    <div class="form-group">
                        <label>Email</label>
                        @Html.TextBoxFor(m => m.Email, new { @class = "form-control required", @id = "Email", @name = "Email" })
                        <div class="my-error-class">
                            @Html.ValidationMessage("Error")
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Password</label>
                        @Html.PasswordFor(m => m.Password, new { @class = "form-control", @id= "Password", @name= "Password" })
                        <div class="my-error-class">
                            @Html.ValidationMessage("Error")
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Confirm Password</label>
                        @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control", @id= "ConfirmPassword", @name= "ConfirmPassword" })
                        <div class="my-error-class">
                            @Html.ValidationMessage("Error")
                        </div>
                    </div>
                    <div class="form-group">
                        <input type="submit" value="Reset" id="frmReset" name="frmReset" class="btn btn-primary btn-sm" />                       
                    </div>                   
                </div>
            </div>
        </div>




        @*<h4>Reset your password.</h4>
        <hr />
        @Html.ValidationSummary("", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Code)
        <div class="form-group">
            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.Password, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(m => m.ConfirmPassword, new { @class = "col-md-2 control-label" })
            <div class="col-md-10">
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "form-control" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" class="btn btn-default" value="Reset" />
            </div>
        </div>*@
    }
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-datepicker.js"></script>
    <script src="~/Scripts/bootstrap-select.js"></script>
    <script>
        $(document).ready(function () {
            $("#frmReset").validate({
                errorClass: "my-error-class",
                rules: {
                    Email: "required",
                    Password: "required",
                    ConfirmPassword: "required"
                },
                messages: {
                    Email: "User Name required",
                    Password: "Password required",
                    ConfirmPassword: "Confirm Password required"
                }
            });
        });
    </script>
</body>
</html>

<style>
    .my-error-class {
        color: red;
    }
</style>

@*@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}*@
